<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>musiclabel</key>
		<string>innocence</string>
		<key>musicplay</key>
		<string>1.mp3</string>
		<key>musicicon</key>
		<string>第一首歌.jpg</string>
		<key>musicbgimage</key>
		<string>背景1.jpg</string>
	</dict>
	<dict>
		<key>musiclabel</key>
		<string>i hate u,i love u</string>
		<key>musicplay</key>
		<string>2.mp3</string>
		<key>musicicon</key>
		<string>第二首歌.jpg</string>
		<key>musicbgimage</key>
		<string>背景2.jpg</string>
	</dict>
	<dict>
		<key>musiclabel</key>
		<string>There For You</string>
		<key>musicplay</key>
		<string>3.mp3</string>
		<key>musicicon</key>
		<string>第三首歌.jpg</string>
		<key>musicbgimage</key>
		<string>背景3.jpg</string>
	</dict>
</array>
</plist>
